$order-bgcolor: rgba(255, 153, 0, 0.3);

.shop {
	display: flex;
	position: relative;
}

.products {
	flex-grow: 1;
	display: flex;
	flex-wrap: wrap;
	padding: 1vw;
}

.cart-container {
	min-width: 13.2vw;
	background-color: $order-bgcolor;
	padding: 1.15vw;
}
