.orders {
	width: 100%;
	border: 1px solid black;

	border: none;
	position: sticky;
	top: 4.2vw;

	& h3 {
		text-align: center;
		margin-bottom: 2.5vw;
		font-size: 1.25vw;
		font-weight: 500;
	}

	&-summary {
		*:not(:last-of-type) {
			margin-bottom: 1.25vw;
		}

		*:last-of-type {
			font-size: 1vw;
			font-weight: 500;
		}
	}
}
